body{
    background-color: #100e17;
    font-family: 'Roboto Slab', serif;
}

#fields{
    margin-top: 12.5%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.loginForm{
    width: 25%;
    height: 100%;
    border: 3px solid white;
    border-radius: 15px;
    background-color: skyblue;
    background: #F9A826;
    position: relative;
}

.cards {
    position: absolute;
    right: 0px;
    bottom: -2px;
    height: 50%;
    width: auto;
}

.goal{
    position: absolute;
    height: 50%;
    width: auto;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input {
    font-family: 'Roboto Slab', serif;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit]{
    font-family: 'Roboto Slab', serif;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    background-color: #100e17;
    border: 3px solid white;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-color: #F9A826;
}

input, button{
    margin:5px;
}
